@model IEnumerable<MechanicWebService.Models.Car>;
@{
    ViewData["Title"] = "Rental";
}

<div class="text-center">
    <h1 class="display-4">Rental</h1>
    <p>
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Create">Create New</a>
        }

    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Model)</th>
            <th>@Html.DisplayNameFor(model => model.Mark)</th>
            <th>@Html.DisplayNameFor(model => model.VIN)</th>
            <th>@Html.DisplayNameFor(model => model.Year)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Car item in Model)
        {
            <tr>
                <td>
                    @item.Model
                </td>
                <td>
                    @item.Mark
                </td>
                <td>
                    @item.VIN
                </td>
                <td>
                    @item.Year
                </td>
                <td>
                    <a asp-action="Show" asp-route-id="@item.Id">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
