@model IEnumerable<MechanicWebService.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Rezerwacje</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Dodaj Rezerwacje</a>
</p>
<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mechanic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mechanic.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Description)
            </td>
            <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ReservationId">Edytuj</a>
                    }
                
                    <a asp-action="Details" asp-route-id="@item.ReservationId">Detale</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ReservationId">Usuń</a>
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
