@model IEnumerable<MechanicWebService.Models.Service>

@{
    ViewData["Title"] = "Usługi";
}

<h1>Usługi</h1>

<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create" class="btn btn-success">Dodaj Usługi</a>
    }
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ServiceId">Edytuj</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.ServiceId">Detale</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ServiceId">Usuń</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
