@model IEnumerable<MechanicWebService.Models.Mechanic>

@{
    ViewData["Title"] = "Index";
}

<h1>Mechanicy</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Dodaj Mechanika</a>
</p>
<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experiance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experiance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.MechanicId">Edytuj</a>
                    }
                 
                    <a asp-action="Details" asp-route-id="@item.MechanicId">Detale</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.MechanicId">Usuń</a>
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
